In [49]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
Sales_Revenue_CL_Fprediction = pd.read_pickle('Sales_Revenue_CL_Fprediction.pickle')
Sales_Revenue_MF_Fprediction = pd.read_pickle('Sales_Revenue_MF_Fprediction.pickle')
Sales_Revenue_CC_Fprediction = pd.read_pickle('Sales_Revenue_CC_Fprediction.pickle')

# All glued together

In [50]:
new2=pd.merge(Sales_Revenue_MF_Fprediction,Sales_Revenue_CL_Fprediction,right_index=True,left_index=True, on='Client',
            how='outer')
new3=pd.merge(new2,Sales_Revenue_CC_Fprediction,right_index=True,left_index=True, on='Client',
            how='outer')
new3=new3.replace({np.NaN:0})
new3
#CL=new3.iloc[38:60,]
#CL=pd.DataFrame(CL)
#CL=CL[['Client','Revenue_CL_Prediction']]
#CL

,Client,Sales_MF_Prediction,Revenue_MF_Prediction,Sales_CL_Prediction,Revenue_CL_Prediction,Sales_CC,Revenue_cc_Prediction
0,285,1.0,128.854640,1,7.206503,1.0,231.709893
1,1545,1.0,17.617351,1,5.638571,1.0,151.727903
2,703,1.0,0.480514,1,5.116521,1.0,154.975296
3,1195,1.0,45.505285,1,6.904158,1.0,326.403149
4,1074,1.0,2.246328,1,5.892310,1.0,8311.543355
5,680,1.0,65.089804,1,4.095417,1.0,143.256862
6,735,1.0,41.585112,1,5.138510,1.0,1266.287099
7,1503,1.0,1.860394,1,1.908403,1.0,126.771024
8,1095,1.0,3.948892,1,5.355025,0.0,0.000000
9,830,1.0,72.918382,1,6.080400,1.0,197.546497
10,1244,1.0,48.987579,1,5.514360,1.0,333.459275
11,761,0.0,0.000000,1,5.136051,1.0,75.709336
12,1535,1.0,14.181557,1,5.877065,1.0,348.503810
13,1272,1.0,7.562560,1,4.827707,1.0,408.411177
14,210,1.0,22.497089,1,6.484205,1.0,86.347123
15,483,1.0,107.471846,1,5.904150,1.0,1178.192861
16,1325,1.0,9.787855,1,4.716860,1.0,38.955569
17,436,0.0,0.000000,1,5.912462,1.0,204.797001
18,1019,0.0,0.000000,1,5.851763,1.0,0.724941
19,1516,0.0,0.000000,1,5.927830,1.0,33.446034
20,816,0.0,0.000000,1,6.187523,1.0,91.830110
21,929,0.0,0.000000,1,3.859502,1.0,0.845351
22,342,0.0,0.000000,1,5.730847,1.0,1.148226
23,346,0.0,0.000000,1,5.595406,1.0,104.265990
24,1390,0.0,0.000000,1,4.067279,1.0,67.147408
25,1139,0.0,0.000000,1,1.949401,1.0,134.542291
26,1606,0.0,0.000000,1,7.410593,1.0,174.551617
27,131,0.0,0.000000,1,4.886564,1.0,52.406096
28,880,0.0,0.000000,1,5.957124,1.0,40.502804
29,933,0.0,0.000000,1,1.870057,1.0,147.972450
30,486,0.0,0.000000,1,6.250059,1.0,55.397720
31,1573,0.0,0.000000,1,5.288214,1.0,63.380502
32,757,0.0,0.000000,1,5.725354,1.0,424.154250
33,656,0.0,0.000000,1,5.472842,1.0,0.576617
34,611,0.0,0.000000,1,5.862380,1.0,529.548387
35,1446,0.0,0.000000,1,2.297926,1.0,194.544703
36,1297,0.0,0.000000,1,4.631424,1.0,179.521762
37,858,0.0,0.000000,1,6.005930,1.0,311.530022
38,1152,0.0,0.000000,1,4.577267,1.0,301.258488
39,712,0.0,0.000000,1,6.067039,1.0,133.472374
40,46,0.0,0.000000,1,5.053585,0.0,0.000000
41,230,0.0,0.000000,1,4.528512,0.0,0.000000
42,1080,0.0,0.000000,1,4.861145,0.0,0.000000
43,1230,0.0,0.000000,1,8.691301,0.0,0.000000
44,928,0.0,0.000000,1,5.734889,0.0,0.000000
45,1581,0.0,0.000000,1,4.667086,0.0,0.000000
46,1530,0.0,0.000000,1,4.890254,0.0,0.000000
47,660,0.0,0.000000,1,5.841892,0.0,0.000000
48,897,0.0,0.000000,1,3.087735,0.0,0.000000
49,1137,0.0,0.000000,1,3.263950,0.0,0.000000
50,1300,0.0,0.000000,1,6.668733,0.0,0.000000
51,945,0.0,0.000000,1,6.388060,0.0,0.000000
52,1018,0.0,0.000000,1,6.071822,0.0,0.000000
53,801,0.0,0.000000,1,6.208845,0.0,0.000000
54,1432,0.0,0.000000,1,4.851891,0.0,0.000000
55,1203,0.0,0.000000,1,6.666285,0.0,0.000000
56,857,0.0,0.000000,1,5.643316,0.0,0.000000
57,1365,0.0,0.000000,1,5.214799,0.0,0.000000
58,860,0.0,0.000000,1,4.622093,0.0,0.000000
59,367,0.0,0.000000,1,1.452530,0.0,0.000000

In [51]:
CL1=new3.iloc[40:60,]
CL1=CL1[['Client','Revenue_CL_Prediction']]
CL1

    Client  Revenue_CL_Prediction
40      46               5.053585
41     230               4.528512
42    1080               4.861145
43    1230               8.691301
44     928               5.734889
45    1581               4.667086
46    1530               4.890254
47     660               5.841892
48     897               3.087735
49    1137               3.263950
50    1300               6.668733
51     945               6.388060
52    1018               6.071822
53     801               6.208845
54    1432               4.851891
55    1203               6.666285
56     857               5.643316
57    1365               5.214799
58     860               4.622093
59     367               1.452530

In [52]:
# CC contact
new4=new3.iloc[17:40,]
new4_CC=new4.loc[(new4['Revenue_cc_Prediction'] >new4['Revenue_CL_Prediction'])]
new4_CC=new4_CC[['Client','Revenue_cc_Prediction']]
new4_CC

    Client  Revenue_cc_Prediction
17     436             204.797001
19    1516              33.446034
20     816              91.830110
23     346             104.265990
24    1390              67.147408
25    1139             134.542291
26    1606             174.551617
27     131              52.406096
28     880              40.502804
29     933             147.972450
30     486              55.397720
31    1573              63.380502
32     757             424.154250
34     611             529.548387
35    1446             194.544703
36    1297             179.521762
37     858             311.530022
38    1152             301.258488
39     712             133.472374

  # Client to contact for CC

In [53]:
new5=new3.iloc[0:16,]
new5_CC=new5.loc[(new5['Revenue_cc_Prediction'] >new5['Revenue_CL_Prediction'])&(new5['Revenue_cc_Prediction'] >new5['Revenue_MF_Prediction'])]
CC_client_list=pd.concat([new5_CC,new4_CC],ignore_index=True)
CC_client_list=CC_client_list[['Client','Revenue_cc_Prediction']]
CC_client_list=CC_client_list.sort_values(by='Revenue_cc_Prediction', ascending = False)
CC_client_list
#new5_CL=new5.loc[(new5['Revenue_MF_Prediction'] <new5['Revenue_CL_Prediction'])]
#new5_CL=new5_CL[['Client','Revenue_CL_Prediction']]
#new5_CL
#MF_client_list=new5_MF[['Client','Revenue_MF_Prediction']]
#MF_client_list.sort_values(by='Revenue_MF_Prediction', ascending = False)

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  This is separate from the ipykernel package so we can avoid doing imports until

    Client  Revenue_cc_Prediction
4     1074            8311.543355
6      735            1266.287099
14     483            1178.192861
28     611             529.548387
27     757             424.154250
12    1272             408.411177
11    1535             348.503810
9     1244             333.459275
3     1195             326.403149
31     858             311.530022
32    1152             301.258488
0      285             231.709893
15     436             204.797001
8      830             197.546497
29    1446             194.544703
30    1297             179.521762
21    1606             174.551617
2      703             154.975296
1     1545             151.727903
24     933             147.972450
5      680             143.256862
20    1139             134.542291
33     712             133.472374
7     1503             126.771024
18     346             104.265990
17     816              91.830110
13     210              86.347123
10     761              75.709336
19    1390              67.147408
26    1573              63.380502
25     486              55.397720
22     131              52.406096
23     880              40.502804
16    1516              33.446034

  # Client to contact for CL

In [54]:
CL_client_list=pd.concat([CL1], ignore_index=True)
CL_client_list.sort_values(by='Revenue_CL_Prediction', ascending = False)

    Client  Revenue_CL_Prediction
3     1230               8.691301
10    1300               6.668733
15    1203               6.666285
11     945               6.388060
13     801               6.208845
12    1018               6.071822
7      660               5.841892
4      928               5.734889
16     857               5.643316
17    1365               5.214799
0       46               5.053585
6     1530               4.890254
2     1080               4.861145
14    1432               4.851891
5     1581               4.667086
18     860               4.622093
1      230               4.528512
9     1137               3.263950
8      897               3.087735
19     367               1.452530